# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:
- Languages for data science
- environment 
- Libraries
- Arithmatic operator

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. scikit-learn
3. Pandas
4. NumPy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| R Studio           |
| Apache             |

### Below are a few examples of evaluating arithmetic expressions in Python
1. x+y
2. x-y
3. x*y
4. x/y
5. x%10

In [2]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Meet Adlakha